{% load static %}
<div class="content">
  <header>
    <div>
      <div>Contacts</div>
      <div>other</div>
    </div>
    <div>
      <div class="toolbar">
        <span>All</span>
        <span>Leads</span>
        <span>Customer</span>
      </div>
    </div>
  </header>
  <div>
    <table>
      <tr>
        <th>
          <div class="Checkbox">
            <input type="checkbox" />
            <div class="Checkbox-visible"></div>
          </div>
        </th>
        <th>Пользователь</th>
        <th>Email</th>
      </tr>
      <tr>
        <td>1</td>
        <td>htmlbase</td>
        <td>info@htmlbase.ru</td>
      </tr>
    </table>
  </div>
</div>
